<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row header_logo_div">
        <figure id="logo" class="col-md-12 col-sm-12" data-hook>
          <%= logo %>
        </figure>
        <p>HELLO</p>
        <!-- <%= render partial: 'spree/shared/nav_bar' %> -->
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
