<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row header_logo_div">
        <!-- <figure id="logo" class="col-md-12 col-sm-12" data-hook>
          <%= logo %>
        </figure> -->
        <a class="spree_header_logo_a" href="/"><h3 class="spree_header_logo">LIM<span style="color:#3be252d6">E</span></h3></a>
        
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
